<head>
  <!-- <link rel="stylesheet" type="text/css" href="app.component.css" /> -->
  <!-- <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  /> -->
</head>
<button type="button" class="menu" [routerLink]="['/button']">button</button>
<br />
<div class="wrapper"><router-outlet></router-outlet></div>
