/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Nunito", sans-serif;
  outline: none;
}
body {
  background-color: #f2e6d8;
}
/* button {
  background-color: #03738c;
  color: #f2e6d8;
  border: 1px solid #03738c;
  border-radius: 5px;
  width: 70px;
  margin: 5px;
} */
.wrapper {
  width: 80vw;
  min-height: 50vh;
  border-radius: 20px;
  padding: 16px;
  background-image: linear-gradient(to bottom right, #0396a6, #d0ecf2);
  box-shadow: 5px 5px 15px 3px rgba(85, 169, 202, 0.59);
}
.menu {
  width: 180px;
  margin: 2px;
  margin-bottom: 20px;
}
input {
  border: 1px solid #ebceae;
  background-color: #ebceae;
  border-radius: 5px;
  width: 200px;
  color: #8c4d70;
}
a {
  color: #f2e6d8;
}
#Start {
  margin: 5px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
